*.o
*.lo
*.Plo
**/.deps
**/.libs
*.so
.vscode
cache
**/.DS_Store
**/nxlog
**/*.la
**/Makefile
**/nxlog-processor
**/nxlog-stmnt-verifier
src/utils/stresstest

test/common/alloc-test
test/common/configcache
test/common/date
test/common/expression-test
test/common/logdata
test/common/logdata-serialize
test/common/scheduler-test
test/common/stmnt-test
test/common/str-test
test/common/value-serialize
test/common/value-test
test/coresrc/event
test/coresrc/exception_test


autom4te.cache